<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %}</title>

    {% load static %}
{#    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7/css/bootstrap.css">#}
{#    <link rel="stylesheet" href="/static/css/dashboard.css">#}
    <link rel="stylesheet" href="{% static '/plugins/bootstrap-3.3.7/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/dashboard.css' %}">

</head>

<body>

{% include 'nav.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="{% block publisher_list_active %}{% endblock %}"><a href="/publisher_list/">出版社列表<span class="sr-only">(current)</span></a></li>
                <li class="{% block book_list_active %}{% endblock %}"><a href="/book_list/">书籍列表<span class="sr-only">(current)</span></a></li>
                <li class="{% block author_list_active %}{% endblock %}"><a href="/author_list/">作者列表<span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>