<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="" method="post">

    <p> 作者姓名： <input type="text" name="author_name" value="{{ author_obj.name }}"></p>
    <p> 作品：
        <select name="books" id="" multiple>
            {% for book in all_books %}

                {% if book in author_obj.books.all %}
                    <option value="{{ book.pk }}" selected>{{ book.title }}</option>
                {% else %}
                    <option value="{{ book.pk }}">{{ book.title }}</option>
                {% endif %}

            {% endfor %}

        </select>
    </p>

    <button>提交</button>

</form>

</body>
</html>