<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %}</title>
    {% load static %}
{#    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7/css/bootstrap.css">#}
    <link rel="stylesheet" href="{% static '/plugins/bootstrap-3.3.7/css/bootstrap.css' %}">
</head>
<body>

{% include 'nav.html' %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2" style="margin-top: 70px">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{% block edit_title %}{% endblock %}</h3>
                </div>
                <div class="panel-body">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>