{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#    <form action="" method="post">#}
{##}
{#    <p>#}
{#        书名： <input type="text" name="book_name" value="{{ book_obj.title }}">#}
{#    </p>#}
{#    <p>#}
{#        出版社：#}
{#        <select name="pub_id" id="">#}
{#            {% for publisher in all_publishers %}#}
{##}
{#                {% if book_obj.pub == publisher %}#}
{##}
{#                    <option selected value="{{ publisher.pk }}"> {{ publisher.name }} </option>#}
{#                {% else %}#}
{#                    <option  value="{{ publisher.pk }}"> {{ publisher.name }} </option>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        </select>#}
{#    </p>#}
{#    <button>保存</button>#}
{##}
{##}
{#</form>#}
{#</body>#}
{#</html>#}

{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>add_book</title>#}
{#    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7/css/bootstrap.css">#}
{#</head>#}
{#<body>#}
{#<div class="container">#}
{#    <div class="row">#}
{#        <div class="col-lg-8 col-lg-offset-2" style="margin-top: 70px">#}
{#            <div class="panel panel-primary">#}
{#                <div class="panel-heading">#}
{#                    <h3 class="panel-title">编辑书籍</h3>#}
{#                </div>#}
{#                <div class="panel-body">#}
{#                    <form class="form-horizontal" method="post" action="">#}
{#                        <div class="form-group">#}
{#                            <label for="inputEmail3" class="col-sm-2 control-label">书名： </label>#}
{#                            <div class="col-sm-8">#}
{#                                <input type="text" name="book_name" class="form-control" id="inputEmail3" value="{{ book_obj.title }}">#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="text-center text-danger">{{ error }}</div>#}
{#                        <div class="form-group">#}
{#                            <label for="inputEmail3" class="col-sm-2 control-label">出版社：</label>#}
{#                            <div class="col-sm-4">#}
{#                                <select name="pub_id" id="" class="form-control">#}
{#                                    {% for publisher in all_publishers %}#}
{#                                        {% if book_obj.pub == publisher %}#}
{#                                            <option selected value="{{ publisher.pk }}"> {{ publisher.name }} </option>#}
{#                                        {% else %}#}
{#                                            <option value="{{ publisher.pk }}"> {{ publisher.name }} </option>#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <div class="col-sm-offset-2 col-sm-10">#}
{#                                <button type="submit" class="btn btn-default">提交</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{#</body>#}
{#</html>#}


{% extends 'edit_base.html' %}

{% block page_title %}edit_book{% endblock %}

{% block edit_title %}编辑书籍{% endblock %}

{% block content %}
    <form class="form-horizontal" method="post" action="">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">书名： </label>
            <div class="col-sm-8">
                <input type="text" name="book_name" class="form-control" id="inputEmail3" value="{{ book_obj.title }}">
            </div>
        </div>
        <div class="text-center text-danger">{{ error }}</div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">出版社：</label>
            <div class="col-sm-4">
                <select name="pub_id" id="" class="form-control">
                    {% for publisher in all_publishers %}
                        {% if book_obj.pub == publisher %}
                            <option selected value="{{ publisher.pk }}"> {{ publisher.name }} </option>
                        {% else %}
                            <option value="{{ publisher.pk }}"> {{ publisher.name }} </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">提交</button>
            </div>
        </div>
    </form>
{% endblock %}